<h1>{{title}}</h1>
<form>
	<div class="form-group">
		<label>Task Description</label>
		<input type="text" class="form-control" placeholder="Important Task" ng-model="newTask.task">
	</div>
	<div class="form-group">
		<label>Due Date</label>
		<input type="text" class="form-control" placeholder="12/12/16" ng-model="newTask.dueDate">
	</div>
	<div class="form-group">
		<label>Assigned To</label>
		<input type="text" class="form-control" placeholder="Who done it" ng-model="newTask.assignedTo">
	</div>
	<div class="form-group">
		<label>Location</label>
		<input type="text" class="form-control" placeholder="Where" ng-model="newTask.location">
	</div>
	<div class="form-group">
		<label>Urgency</label>
		<input type="text" class="form-control" placeholder="Urgency" ng-model="newTask.urgency">
	</div>
	<div class="form-group">
		<label>Dependencies</label>
		<input type="text" class="form-control" placeholder="Sunshine, Clippers, Hat" ng-model="newTask.dependencies">
	</div>
	<div class="text-center">
	<button class="btn btn-default" ng-click="addNewItem()">{{submitButtonText}}</button>
	</div>
</form>